# Auto detect text files and perform LF normalization
* text=auto

# Web & Theme Source Files
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.php text eol=lf
*.json text eol=lf
*.md text eol=lf
*.svg text eol=lf
*.xml text eol=lf

# Image and Binary Files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
